@{
    ViewData["Title"] = "About ";
}

<h1>@ViewData["Title"]</h1>

    <p>Welcome to our Nemesys website</p>
    <p> This site offers students and staff the possibility to  report near misses on and around campus</p>
    <p>
        Near-miss reports are intended for administrative bodies at UoM (e.g. student bodies, precincts
        office etc…) on which action can then be taken to improve the overall Health and Safety conditions
        on campus.
    </p>
    <p>
        On our application you will be able to create a user account to create reports.
        
    </p>
    <p>Administrators will be able to create investigations on different reports as well as modify the status of the reports</p>

